* {
    box-sizing: border-box;
}

body {
    background-color: #333333;
    color: #1793d1;
}

.font-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.row {
    padding: 0px;
    margin: 0px;
    display: block;
}

.row:hover {
    width: 100%;
    background-color: #1793d1;
    color: #333333;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
}

p {
    padding: 0px;
    margin: 0px;
    font-family: ubuntu, sans, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 225px;
}