* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --mirror-silver: 184, 184, 184;
    --carbon-black: 36, 36, 36;
    --neon-green: 69, 201, 16;
    --sunny-yellow: 255, 234, 0;
}

/* Background Source: https://www.gancube.com/3x3x3-cfop-guide-of-gancube */
body {
    font-family: Ubuntu, Mono, Sans;
    background: url(collection_images/CFOP_course.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(var(--carbon-black));
    overflow: hidden;
    user-select: none;
    margin-right: -3vw;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    margin-top: 5px;
    padding: 8px;
}

#outer-cube {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-height: min(100vw, 100vh);
    max-width: min(100vw, 100vh);
    margin: 0 auto;
    margin-bottom: -50vw;
}

#outer-cube div{
    background-color: rgba(var(--neon-green), 80%);
    width: min(32vw, 32vh);
    height: min(32vw, 32vh);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-style: solid;
    border-color: rgb(var(--carbon-black));
    border-width: 3px;
    transition: 0.1s;
}

#outer-cube div:hover {
    background-color: rgb(var(--sunny-yellow));
}

#outer-cube div ul {
    display: none;
    padding: 5px;
    text-align: left;
    width: 40%;
    margin: 0 auto;
}

#outer-cube div li {
    text-align: left;
}

#outer-cube div p {
    font-family: serif;
    display: none;
    padding: 5px;
    text-align: center;
    align-content: center;
    width: 40%;
    margin: 0 auto;
}

#outer-cube div p:not(#intro-p) {
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-position: inside;
}

#outer-cube div:active{
    width: min(96vw, 96vh);
    height: min(96vw, 96vh);
    position: absolute;
    transition: 0.1s;
    background-color: rgba(var(--sunny-yellow), 95%);
}

#outer-cube div:active p, #outer-cube div:active ul{
    display: block;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

figure {
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
}