* {
    box-sizing: border-box;
}

:root {
    --mirror-silver: 184, 184, 184;
    --carbon-black: 36, 36, 36;
    --neon-green: 69, 201, 16;
}

/* Background Source: https://www.gancube.com/3x3x3-cfop-guide-of-gancube */
body {
    font-family: Ubuntu, Mono, Sans;
    background: url(collection_images/CFOP_course.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(var(--carbon-black));
    overflow: hidden;
    user-select: none;
    margin-right: -3vw;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#outer-cube {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-height: min(100vw, 100vh);
    max-width: min(100vw, 100vh);
    margin: 0 auto;
    margin-bottom: -50vw;
}

#outer-cube div{
    background-color: rgba(var(--neon-green), 80%);
    width: min(32vw, 32vh);
    height: min(32vw, 32vh);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(var(--carbon-black));
    border-width: 3px;
    transition: 0.2s;
}

#outer-cube div p, #outer-cube div ul {
    display: none;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-position: inside;
}

#outer-cube div:active {
    width: min(96vw, 96vh);
    height: min(96vw, 96vh);
    position: absolute;
    transition: 0.5s;
}

#outer-cube div:active p, #outer-cube div:active ul{
    display: block;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

figure {
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
}